<% title "Update Profile" %>

<%= render 'update_form' %>

<p><%#= link_to "Delete My Account", :controller => "users", :action => "destroy", :id  => @current_user.id, :confirm  => "Are you sure?", :method => :delete %></p>



<p><%=link_to "Delete My Account", @current_user, :confirm => 'Are you sure you want to delete your account?', :method => :delete %></p>
