@import url(http://fonts.googleapis.com/css?family=Voces);

body {
  background-color: #cfe2ee;
  font-family: 'Voces', Helvetica, Arial;
  font-size: 14px;
}
 

a img {
  border: none;
}

a {
  color: #0000FF;
}

p {
	color: #404040;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#header {
  width: 800px;
  margin: 0 auto;
  padding: 10px;
}

#navigation {
	float: right;
	padding-top: 15px;
}

#navigation ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

#navigation li
{
    float: left;
	margin:  10px;
}

#navigation li a
{
	color: #404040;
	font-size: 14px;
	text-decoration: none;
	padding: 5px 10px;
}

#navigation li a:hover
{
	background-color: #00AEEF;
	border-radius: 4px;
	color: #cfe2ee;
	padding: 5px 10px;
}

#container {
  width: 800px;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  margin-top: 20px;
  border-radius: 8px;
}

#message-button {
	width: 205px;
	height: 200px;
	background-color: #F8F8F8;
	border-radius: 6px;
	text-align: center;
	padding: 20px;
	margin: 10px;
	float: left;
	color: #000;
}

#twitter {
	margin: 10px;
}


#new_message {
	
}

#random_chat_links {
	float:right;
	border-radius: 5px;
	background-color: #009900;
	padding: 10px 20px;
}
#random_chat_links a{
	color: #FFF;
	font-size: 18px;
	position: relative;
	padding: 10px; 
	top: -20px
	}

#text_chat_area {
	float:left;
}


#chat {
	width: 230px;
	border-radius: 5px;
	margin: 10px;
    height: 300px;
        overflow-y: scroll;
	border: 1px #777 solid;
}

#chat li {
	list-style-type: none;
	border-radius: 2px;
	background-color: #F8F8F8;
	padding: 5px;
	margin-left: 0;
	margin: 2px;
}

#textbox{

}

#footer {
	text-align: center;
	font-size: 11px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 8px 12px;
  margin: 10px 0;
  border-radius: 5px;
}

#flash_notice {
  background-color: #CFC;
}

#flash_error, #flash_alert {
  background-color: #FCC;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}
