@import url(http://fonts.googleapis.com/css?family=Voces);

body {
  background-image: url('blue-bg.jpg');
  font-family: 'Voces', Helvetica, Arial;
  font-size: 14px;
}

#container {
  width: 800px;
  margin: 0 auto;
  background-image: url('white-bg.gif');
  padding: 20px 40px;
  margin-top: 20px 0px;
  margin-bottom: 20px;
  border-radius: 8px;
}
 

a img {
  border: none;
}

a {
  color: #0000FF;
}

p {
	color: #404040;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#header {
  width: 800px;
  margin: 0 auto;
  padding: 10px;
}

#navigation {
	float: right;
	padding-top: 15px;
}

#navigation ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

#navigation li
{
    float: left;
	margin:  10px;
}

#navigation li a
{
	color: #404040;
	font-size: 14px;
	text-decoration: none;
	padding: 5px 10px;
}

#navigation li a:hover
{
	background-color: #00AEEF;
	opacity: 0.7;
	border-radius: 4px;
	color: #cfe2ee;
	padding: 5px 10px;
}



.message-button {
	width: 205px;
	height: 180px;
	background-color: #F8F8F8;
	border-radius: 6px;
	text-align: center;
	padding: 18px;
	margin: 10px;
	margin-bottom: 40px;
	float: left;
	color: #000;
}

.message-button:hover {
	background-color: #FBF8EF;
}

#twitter {
	
	margin: 10px;
	margin-top: 20px;
}


#message_content {
	width: 388px;
}

#random_chat_links {
	float:right;
	border-radius: 6px;
	background-color: #5BB75B;
	background-image: -moz-linear-gradient(center top , #62C462, #51A351);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1);
	padding: 15px 20px;
	margin: 5px;
	color: #FFF;
	font-size: 15px;
	position: relative;
	vertical-align:middle;
}

#random_chat_links img{
	vertical-align:middle;
	padding-right: 10px;
}

#create_conference_link {
	float:right;
	border-radius: 6px;
	background-color: #5BB75B;
	background-image: -moz-linear-gradient(center top , #0088CC, #0044CC);	
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1);
	padding: 15px 20px;
	margin: 5px;
	color: #FFF;
	font-size: 15px;
	position: relative;
	vertical-align:middle;
}

#create_conference_link img{
	vertical-align:middle;
	padding-right: 10px;
}

#text_chat_area {
	float:left;
}


#chat {
	width: 422px;
	border-radius: 5px;
    height: 300px;
    overflow-y: scroll;
	border: 1px #777 solid;
	background-color: #fff;
}

#chat li {
	list-style-type: none;
	border-radius: 4px;
	background-color: #F8F8F8;
	padding: 5px;
	margin: 5px 5px 5px 0px;
	margin-left: -35px;
}


#outer-footer{
	width: 100%;
	bottom: 0;
}

#footer {
	font-size: 10px;
	text-align: center;
	padding: 20px 0px;
	width: 50%;
	margin: 0px auto;
}



#flash_notice, #flash_error, #flash_alert {
  padding: 8px 12px;
  margin: 10px 0;
  border-radius: 5px;
}

#flash_notice {
  background-color: #CFC;
}

#flash_error, #flash_alert {
  background-color: #FCC;
}

table {
	width: 100%;
	border-spacing: 0;
}

td {
	height:30px;
	padding: 10px;
	text-align: left;
	vertical-align:middle;
	border-bottom: 1px solid #eee;
	font-size: 11px;
}

td a{
	text-decoration: none;
}

th {
	border-bottom: 2px solid #00AEEF;
	padding: 10px;
}

tr{
	text-align: left;
}
/*
tr:hover {
	background-color: #FBF8EF;
}

thead tr : hover{
	background-color: transparent;
}
*/
.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

.bold {
	font-weight:bold;
}



.delete-button a{
	font-size: 12px;
	border-radius: 4px;
	border: 1px solid #980000 ;
	padding: 5px 10px;
	background-color: #DA4F49;
	background-image: -moz-linear-gradient(center top , #EE5F5B, #BD362F);
	color: #fff;
	text-decoration: none;
	margin-top: 20px;
}

.delete-button a:hover {
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

input{
	border-radius: 4px;
	border: 1px solid #ddd;
	padding: 5px;
	margin-right: 5px;
}

input[name=commit]{
	font-size: 12px;
	border-radius: 4px;
	border: 1px solid #104E8B;
	padding: 5px 10px;
	background-color: #49AFCD;
	background-image: -moz-linear-gradient(center top , #5BC0DE, #2F96B4);
	color: #fff;
	text-decoration: none;
}

input[name=commit]a:hover {
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
