@import url(http://fonts.googleapis.com/css?family=Voces);

body {
  background-image: url('bg.png');
  font-family: 'Voces', Helvetica, Arial;
  font-size: 14px;
}

#container {
  width: 900px;
  margin: 0 auto;
  padding: 20px 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

#login-header{
	margin-top: 30px;
	text-align: right;
	font-size: 12px;
	width: 90%;
}

#container img{
	position:absolute; 
	top:50%;
	height:242px;
	float: left;
	margin-top:-12em 
}

#landing-message {
	position:absolute; 
	top:50%; 
	height:10em; 
	margin-top:-2em; 
	margin-left:500px;
	font-size: 26px;
	width: 400px;
}

#outer-footer{
	width: 100%;
	position: fixed; 
	bottom: 0;
}

#footer {
	font-size: 10px;

	text-align: center;
	padding: 20px 0px;
	width: 50%;
	margin: 0px auto;
	
}