#random_chat_links {
	float:left;
	border-radius: 5px;
	background-color: #5BB75B;
	background-image: -moz-linear-gradient(center top , #62C462, #51A351);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1);
	padding: 15px 20px;
}