<li>
  <span class="chat_user"><%= User.find(message.user_id).username %></span>&nbsp;
  <span class="created_at">[<%= message.created_at.strftime("%H:%M%P") %>]</span>:
  <%= message.content %>
</li>
