<h1>Frequently Asked Questions</h1>
<div> 
<h3>How do I create an Account?</h3>
On the top-right corner of the CMU Connect welcome page, click the “Sign up” link to be redirected to the registration page. Enter the required information and click the “Sign up” button. Your account is now ready to use. Log in to the system and begin using CMU Connect!

<h3>Is my information safe?</h3>
CMU Connect does not store any of your private information in its database. We ask that you do not use your Andrew password when creating an account, and do not display your contact details to other social users unless you tell us to do so.

<h3>What’s the difference between the Social, Professional, and Academic hubs?</h3>
The Social hub is for Tartans to get to know each other in a casual setting. There is an IM Chatroom to allow for text chatting, and a random chat cycle to put you face to face with another student. Chats in the Social hub are anonymous unless you decide to disclose your contact information.
The Professional hub is a place for students to share tips about the job application process and for career counselors to hold office hours and information sessions. There is a random chat cycle for students to rehearse elevator speeches or ask for help, and conferencing functionality where attendees are specifically invited. Chats in the Professional hub are not anonymous.
The Academic hub is a place for academic collaboration, office hours, or information sessions about academic programs. Students can meet other students to learn about their interests or research and potentially find collaborators for new projects. Professors can hold office hours or information sessions here to help students with course work or to learn about new programs and opportunities. Chats in the Academic hub are also not anonymous.

<h3>How do I enter the random chat cycle?</h3>
The random chat cycle only exists in the Social and Professional hubs. To enter the random chat cycle, enter either one of these hubs and click on the “Enter Random Chat” button. You will be randomly set up with another Tartan for a video chat.

<h3>How do I create a conference?</h3>
The conferencing functionality only exists in the Professional and Academic hubs. To create a conference, enter one of these hubs and click on the “Create a Conference” button. Enter the details for your conference and click the “Create Conference” button. The conference will be displayed on your calendar. You can click on any conference in the calendar to view its details and attend it. 

<h3>How do I complain about a user’s behavior?</h3>
If a user behaves inappropriately during a video chat, you have the option to report him or her to the CMU Connect admin. At the bottom of every video chat session, there is an icon called “report to admin”. Click on this to file your complaint. You will be asked to provide a short description of the problem so that the admin can further investigate and take appropriate action. Alternatively, when you end a session in the random chat cycle, you will be asked how you liked the last chat. If you feel the user behaved inappropriately, you can report them to the admin here. 

<h3>How do I delete my account?</h3>
To delete your account, go to the “My Account” link in the global navigation bar. You will be redirected to the page with all your account details. At the bottom of this page, you will see a “Delete Account” button. Click on this button, and your account will be deleted.

<h3>How do I contact the BlackStar team?</h3>
For any additional questions or comments, please email the BlackStar team <%= mail_to "ryjbillings@gmail.com", "here.", :encode => "javascript" %>
</div>