<<<<<<< HEAD
<h1>CMU Connect</h1>
<div>CMU Connect is an application that allows you to connect with fellow Tartans in social, professional, or academic settings. Click here to <%= link_to "sign up!", 'signup' %> </div>

<p> Already a member? Click here to <%= link_to "login.", 'login' %></p>

<p> CMU Connect aims to provide a safe environment for social interaction by respecting your privacy. Click here to see our <%= link_to "privacy policy.", 'privacy' %></p>
=======
>>>>>>> 7ac26d6d77be2bb2e0848c0dc34359f076fb7057
