<h1>Privacy Policy</h1>
<div><p>Don't share anything about yourself you wouldn't want your grandmother to know.</p>
	
<p>CMU Connect will not store any of your sensitive data. We ask that you do not use your Andrew password when creating an account. Your contact information will only be shared with other users if you decide to do so.</p>
</div>