<h1>Welcome, <%= current_user.username%>!</h1>
<div>To begin chatting with other Tartans, select one of the links below:</div>

<p> <%= link_to "Social", 'messages' %> </p>
<p> <%= link_to "Professional", 'messages' %> </p>
<p> <%= link_to "Academic", 'messages' %> </p>
