

<p> Your password has been reset. Your new password is <%= @password %>.</p>
<p> Please log on to the site and change your password as soon as possible. </p>

<div>Thanks,<br/>The CMU Connect Staff</div>
~                            
