<p>&nbsp;</p>

<div id="footer">
		<%= link_to 'Privacy',  privacy_path %>
		<%= link_to 'Contact Us', contact_path %>
	<div id="copy">
		Webmaster: <%= mail_to "ryjbillings@gmail.com", "BlackStar", :encode => "javascript" %> 
		&nbsp;&nbsp;&copy 2012
	</div>

</div>